*, 
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-block: 120px;
}

body {
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
}

/* header start */

.site-header {
  position: sticky;
  top: 0;
  z-index: 3;
  padding-block: 20px;
  background-color: #fff;
  box-shadow: 0 4px 10px 0px gray;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: block;
  font-size: 30px;
  color: transparent;
  background-image: linear-gradient(90deg, #ffa600, #ff0090);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: pulse;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.navbar-list {
  display: flex;
  column-gap: 60px;
  margin-block: 0;
  padding-left: 0;
  list-style-type: none;
}

.navbar-link {
  position: relative;
  display: block;
  padding: 10px 15px;
  font-size: 20px;
  color: orangered;
  background-color: transparent;
  border: 1px solid orangered;
  border-radius: 20px;
  text-decoration-line: none;
  overflow: hidden;
  transition: left 0.3s linear;
  box-shadow: 0 2px 4px 0px orangered;
}

.navbar-link:hover {
  color: #fff;
  cursor: pointer;
}

.navbar-link::before {
  position: absolute;
  top: 0;
  right: 100%;
  content: "";
  width: 0;
  height: 100%;
  background-image: linear-gradient(90deg, #ffa600, #ff0090);
  z-index: -1;
  transition: width 0.3s linear, right 0.3s linear;
}

.navbar-link:hover::before {
  width: 100%;
  right: 0;
}

@keyframes pulse {
  50% {
    transform: scale(1.09);
  }
}

/* header end */

/* hero start */

.hero {
  padding-block: 50px;
  /* background-image: linear-gradient(135deg, #78f1f1, #0aa2e3); */
}

.hero-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-inner {
  width: 550px;
}

.hero-title {
  font-size: 45px;
}

.hero-span {
  color: red;
}

.hero-desc {
  font-size: 20px;
}

.hero-link {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  color: orangered;
  border: 1px solid orangered;
  border-radius: 20px;
  text-decoration-line: none;
  overflow: hidden;
  transition: left 0.3s linear;
  box-shadow: 0 2px 4px 0px orangered;
}

.hero-link:hover {
  color: #fff;
  cursor: pointer;
}

.hero-link::before {
  position: absolute;
  top: 0;
  right: 100%;
  content: "";
  width: 0;
  height: 100%;
  background-image: linear-gradient(90deg, #ffa600, #ff0090);
  z-index: -1;
  transition: width 0.3s linear, right 0.3s linear;
}

.hero-link:hover::before {
  width: 100%;
  right: 0;
}

.hero-pic {
  width: 410px;
  border-radius: 100px;
}

.projects {
  margin-top: 100px;
  padding-block: 50px;
}
